on post-fs-data 
    rm /cache/boot_log_full.txt 
    rm /cache/boot_log_avc.txt 
    start boot_log 
    start boot_log_avc 
 
service boot_log /system/bin/logcat -b all -D -f /cache/boot_log_full.txt 
    class main 
    user root 
    group root system 
    disabled 
    oneshot 
 
service boot_log_avc /system/bin/logcat -e avc -f /cache/boot_log_avc.txt 
    class main 
    user root 
    group root system 
    disabled 
    oneshot 
 
on property:sys.boot_completed=1 
    stop boot_log 
    stop boot_log_avc
